.hidedSidebar {
  > aside {
    width: 3.8rem;
    flex-grow: 0;

    > nav {
      > div:first-child {
        opacity: 0;
        transition: opacity .35s;
      }
    }
  }

  > div {
    width: 100%;
  }
}

.showedSidebar {
  > aside {
    width: var(--sidebar-width);
  }
}

.initialSidebar {
  > aside {
    transition: width .35s;
  }
}
