@keyframes hideSidebar {
  from {
    width: var(--sidebar-width);
  }

  to {
    width: 3.8rem;
  }
}

@keyframes showSidebar {
  from {
    width: 3.8rem;
  }

  to {
    width: var(--sidebar-width);
    transform: translateX(0);
  }
}

.hidedSidebar {
  > aside {
    animation: hideSidebar .35s forwards;
    flex-grow: 0;

    > nav {
      > div:first-child {
        opacity: 0;
        transition: opacity .3s;
      }
    }
  }

  > div {
    width: 100%;
  }
}

.showedSidebar {
  > aside {
    animation: showSidebar .3s forwards;
    width: var(--sidebar-width);
  }
}
