@import "tailwindcss";

:root {
  --sidebar-width: 15rem;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--color-bg) inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
  }
}

@theme inline {
  --color-primary: #EF4444;
  --color-bg: #191B28;
  --color-border: rgba(255, 255, 255, 0.07);
  --font-sans: var(--font-noto-sans);
  --spacing-layout: 1.4rem;
  --duration-default: 333ms;
  --ease-default: ease-in-out;
  --default-transition-duration: var(--duration-default);
  --default-transition-timing-function: var(--ease-default);
}


body {

}

@utility grid-6-cols {
  @apply grid grid-cols-6 gap-6;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 11px;
  height: 11px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-ms-thumb {
  width: 11px;
  height: 11px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.rc-slider-handle:focus,
.rc-slider-handle:active {
  outline: none;
  box-shadow: none;
}

.tooltip-simple-text.rc-slider-tooltip .rc-slider-tooltip-inner {
  @apply text-base;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  color: #fff !important;
  height: 16px;
}

.tooltip-simple-text.rc-slider-tooltip .rc-slider-tooltip-arrow {
  display: none !important; /* Убираем стрелку тултипа */
}

.tooltip-simple-text.rc-slider-tooltip {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
